.carousel_component {
  position: relative;
}

.carousel_images {
  width: 100%;
  height: 600px !important;
  position: relative;
  transition: ease 1000ms;
  z-index: -1;
}

.carousel_images > img {
  width: 100%;
  height: 600px !important;
  /* object-fit: cover; */
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel_heading {
  background: rgba(225, 73, 62, 0.7);
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin: 0 auto 5px auto;
}

.carousel_subText {
  background: rgba(28, 28, 28, 0.7);
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  padding: 3px 10px;
  text-align: center;
}

.icon_component_one,
.icon_component_two {
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  z-index: 999;
  cursor: pointer;
}

.icon_component_one {
  left: 3%;
}

.icon_component_two {
  right: 3%;
}

.icons {
  color: #000;
  font-size: 30px;
  text-align: center;
}

.carousel_an_form_component {
  position: relative;
}

/* ---- form ----- */

.form_input {
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.form_input > input {
  border: none;
  outline: 0;
  width: 16rem;
  flex: 1;
  padding: 4px;
  margin: 2px 5px;
}

.form_input > input::placeholder {
  /* text-align: center; */
  color: #000;
  font-size: 15px;
}

.form_container {
  background-color: #000;
  padding: 43px 20px;
  max-width: calc(100% -20%);
  margin: auto;
  border-bottom: 3px solid #eb3936;
  margin-top: -63px;
}

.form_container > form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form_select {
  width: 16rem;
  padding: 10px 7px;
  border-radius: 5px;
  background-color: #fff;
  outline: 0;
  border: 0;
}

.form_button {
  height: 41px !important;
  width: 8rem !important;
  padding: 5px !important;
}

@media only screen and (max-width: 1594px) {
  .form_container {
    max-width: calc(100% -10%);
  }
}

@media only screen and (max-width: 1418px) {
  .form_container {
    margin-top: 0%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1284px) {
  .form_container > form {
    flex-wrap: wrap;
  }
  .form_input > input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .form_select,
  .form_button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 643px) {
  .form_select {
    width: 18.2rem;
  }
}

@media only screen and (max-width: 610px) {
  .form_select {
    flex: 1;
    width: 30.1rem;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .form_input > input {
    width: 28rem;
  }
  .form_select_persons {
    margin-top: 7px;
  }
}

@media only screen and (max-width: 493px) {
  .form_select {
    flex: 1;
    width: 28.1rem;
  }

  .form_input > input {
    width: 26rem;
  }

  .carousel_heading {
    font-size: 18px;
    padding: 1px 2px;
  }
  .carousel_subText {
    font-size: 15px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 426px) {
  .form_select {
    flex: 1;
    width: 22.1rem;
  }

  .form_input > input {
    width: 20rem;
  }

  .form_select_rooms {
    margin-top: 7px;
  }
}

@media only screen and (max-width: 382px) {
  .form_select {
    flex: 1;
    width: 19.1rem;
  }

  .form_input > input {
    width: 17rem;
  }
}

@media only screen and (max-width: 400px) {
  .form_select {
    flex: 1;
    width: 20.1rem;
  }

  .form_input > input {
    width: 18rem;
  }
}
