.footer {
  background-color: #1c1c1c;
  padding: 5rem 10% 5px 10%;
  /* justify-content: space-around; */
}

.commonBlock {
  display: flex;
  justify-content: space-between;
}

/* .bravoAwardBlock {
  padding: 0 5px;
} */

.bravoAwardBlock > img {
  width: 100px;
  height: 60px;
}

.certOfExc > img {
  width: 170px;
  height: 120px;
  bottom: 0;
}

.certLine {
  font-size: 10px;
  position: absolute;
  z-index: 999;
  top: 1%;
  text-align: center;
  transform: translate(-50, -50);
  left: 10%;
  color: #1c1c1c;
  text-decoration: none;
}

.bravoHeadingIntro {
  font-size: 10px;
  text-align: center;
}

.bravoAwardBlock {
  background-color: #fff;
  padding-bottom: 0px;
  align-items: center;
  text-align: center;
}

.bravoHeading {
  background-color: #34e0a1;
  padding: 2px 5px;
  color: #1c1c1c;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.certLine:active {
  color: #1c1c1c;
}

.heading {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.bottomLine {
  background-color: #eb3936;
  width: 80px;
  height: 4px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.iconsBlock {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.iconsBlock:hover,
.icon:hover {
  background-color: #eb3936;
  color: #fff;
  cursor: pointer;
}

.icon {
  color: #1c1c1c;
  font-size: 20px;
}

.threePoints > p {
  margin-top: 10px !important;
}

.threePoints,
.threePoints:hover,
.threePoints:active,
.threePoints:focus,
.copyRight,
.copyRight:hover,
.copyRight:active,
.copyRight:focus {
  color: #fff;
  text-decoration: none;
}

.footerBottom {
  padding: 2% 5px 5px 5px;
  border-top: 1px solid;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  bottom: 0;
}

.conditions {
  margin-left: 6px;
  margin-right: 6px;
}

.certOfExc {
  position: relative;
  margin-top: 10px;
}

@media only screen and (max-width: 850px) {
  .commonBlock {
    flex-wrap: wrap;
  }
}
